<form action='/users/signin' method='post'>
  Username: <input type='text' name='username' value=<%= params[:username] %>><br>
  Password: <input type='text' name='password' value=<%= params[:password] %>><br>
  <button type='submit'>Sign In</button>
</form>