<form action='signup' method='post'>
  Create username: <input type='text' name='username'><br>
  Create password: <input type='text' name='password'><br>
  Confirm password: <input type='text' name='confirmation'><br>
  <button type='submit'>Sign Up</button>
</form>